#menutitles {
	/*border-left: 1px solid #d22a09;*/
	overflow: hidden;
}

#menutitles li {
	float: left;
	padding: 5px 15px;
	border: 1px solid #d22a09;
	/*border-left: 0;*/
}

#menutitles li a {
	text-decoration: none;
	color: #d22a09;
	border-bottom: 0 none;
}

.menucat {	/*.tabs div*/
	float: left;
	padding: 10px;
}

#menutitles li.selected { background-color: #d22a09;  }

#menutitles li.selected a {color:#fff;}